.footer {
  background-color: var(--text-main-color);
  color: var(--white-color);
  padding-top: 4rem;
  border-top: 1px solid var(--border-color);
}
.footer .sub-title {
  color: var(--white-color);
  opacity: 0.8;
  margin-bottom: 2rem;
}
.footer .title {
  font-size: 2rem;
  opacity: 0.9;
  text-transform: uppercase;
}

.footer p {
  color: rgba(255, 252, 252, 0.7);
  line-height: 1.6;
  margin: 0;
}
.footer-column {
  margin-bottom: 3rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: var(--accent-color);
  transform: translateX(5px);
}

.footer .social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: all 0.3s ease;
}

.footer .social-icon:hover {
  background: var(--primary-color);
  transform: translateY(-3px);
}

.footer input {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom p {
  font-size: 0.9rem;
  opacity: 0.8;
  margin: 0;
  padding: 1.25rem;
}
